[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
psycopg2 = "*"
pytest = "*"
psycopg2-binary = "*"
requests = "*"
pandas = "*"
requests-mock = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
